
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link  href="/static/css/signup.css" rel="stylesheet"  />
    <script>
      function check(){
        let confirm = window.confirm("Are you sure do you want to submit?")
        if(confirm == true){
            return true
        }else{
            return false
        }
    }
    </script>
   
</head>
<body>
    <div class="">
      
      <div class="navbar-section">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">&nbsp;HCI&nbsp;</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="/">Home</a>
                  </li>
              
                  <li class="nav-item">
                    <a class="nav-link text-light" href="/search">Search Universities</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="/about">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="/contact">Contact Form</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Explore Degree
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/masters">Masters</a></li>
                      <li><a class="dropdown-item" href="/mba">MBA</a></li>
                   
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="/feedback">Feedback Form</a>
                  </li>
                </ul>
                <% if( user ){ %>
                  <a href="#"><button class="btn btn-primary me-5">Welcome, <%= email %></button></a>
                  <a href="/logout"><button class="btn btn-danger">Logout</button></a>
                <% } else { %>
                    <a href="/signup"><button class="btn btn-primary me-5">Signup</button></a>
                    <a href="/login"><button class="btn btn-primary">Login</button></a>
                    <% } %>
                  </div>
              </div>
          </nav>
      </div>
      
        
        

<div class="container jumbotron">
    <div class="container">
        <div class="display-4 text-center bg-warning p-5">
            Signup Page 
        </div>
        <div class="container bg-info mt-5 mb-5 p-5">
            <form action="/signup" class="mt-5 " onsubmit=`return check()` method="post">
                
                <div class="form-group row">
                    <div class="form-group col">
                        <label for="fname" class="form-label fw-bold"> Enter First Name </label>
                        <input type="text" pattern="^[A-Za-z]{3,15}$"  minlength="3" maxlength="15" oninvalid="this.setCustomValidity('Enter First Name with min 3 and max 15 alphabetic characters only . Example : John ')"
                        oninput="this.setCustomValidity('')" name="fname" id="fname" placeholder="Enter First Name" class="form-control"  required />
                    </div>
                    <br />
                    <div class="form-group col">
                        <label for="lname" class="form-label fw-bold"> Enter Last Name </label>
                        <input type="text" pattern="^[A-Za-z]{3,15}$"  minlength="3" maxlength="15" oninvalid="this.setCustomValidity('Enter Last Name with min 3 and max 15 alphabetic characters only. Example : Dapp ')"
                        oninput="this.setCustomValidity('')" name="lname"  id="lname" placeholder="Enter Last Name" class="form-control"  required />
                    </div>
                    <br />
                </div>    
                <br />
                <div class="form-group">
                    <label for="email" class="form-label fw-bold"> Enter Email Id</label>
                    <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"  oninvalid="this.setCustomValidity('Enter Email in proper format. Example : aaa@gmail.com ')"
                    oninput="this.setCustomValidity('')" name="email" id="email" placeholder="Enter Email" class="form-control"  required />
                </div>
                <br />
                <div class="form-group">
                  <label for="mbile" class="form-label fw-bold"> Enter Mobile Number </label>
                    <input type="tel" pattern="^\d{10}$" oninvalid="this.setCustomValidity('Enter Phone Number in proper format of 10 digits only. Example : 9876543210 ')"
                    oninput="this.setCustomValidity('')" size="10" name="mobile" id="mobile" placeholder="Enter Mobile number" maxlength="10" minlength="10" class="form-control"  required />
                </div>
                <br />
                <div class="form-group">
                  <label for="password" class="form-label fw-bold"> Enter Password </label>
                    <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$" oninvalid="this.setCustomValidity('Enter Password with conditions.\n Atleast One \n 1. Lower Case character \n 2. Upper Case character \n 3. Special character \n 4. Numberic digits \n 5. Min 8 and Max 15 characters \n Example : John@12345 ')"
                    oninput="this.setCustomValidity('')" name="password" id="password" placeholder="Enter Password" class="form-control"  required />
                </div>
                <br /> 
                <div class="form-group text-center">
                    <input type="submit"  class=" btn btn-danger" />
                </div>
                <br />
            </form>
        </div>
        
        <div class="mt-3 mb-5 p-5 bg-danger">
            <div class="mb-3 fw-bold">
                Already sign up?
            </div>
            <div class="">
              <a href="/login" class="btn btn-dark" >Click here to login now....</a> 
            </div>
        </div>
    </div>
</div>
<div class="text-center">
  <a href="/">
    <button class="btn btn-success">
        Redirect to Home Page...
    </button>
  </a>
</div>
<div class="footer mt-5 ">
    <div class="container mt-5">
      <p>&nbsp;</p>
      <div class="text-center text-light mb-5">
          &copy; hci project 2021-2022 by  harsh , aniket , mohit....
      </div>
      <!-- <p class="">&nbsp;</p> -->
    </div>
  </div>
</body>
</html>